@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #f8f8f8;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 0.9em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #f4eee2;
    color: #333333;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #f4eee2;
    overflow: hidden;
}

#sidebar .sidebar-header img {
    max-width: 100%;
}

#sidebar ul li > img {
    width: 20%;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #333333;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #f8f8f8;
    background: #333333;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #333333;
}
ul ul a {
    font-size: 0.9em !important;
    /*padding-left: 30px !important;*/
    background: #f8f8f8;
}